input{
	margin:2px;
}
.male_logged_in{
	background-color:purple;
}

.female_logged_in{
	background-color:pink;
}

.not_logged_in{
	background-color:yellow;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
	
}


table {
  border-collapse: collapse;
  text-align:center;
}

table, td, th {
  border: 1px solid black;
  background-color:white;
  padding:4px;
  text-align:center;
}

#usr_songrequests:table,td,th{
	border: 3px solid black;
}

#header {
	text-align:center;
	margin: 0;
    padding: 0;
	display:inline-block;
	background: url(cat.jpg);
    background-size: cover;
    background-position: center;

	width:105%;
	height:100px;
	position:fixed;
	float:top;
	top:0px;
	left:0px;
}

#menu{
	width:200px;
	position:fixed;
	left:0px;
	top:100px;
	height:300px;

}

#main_page{
	background-color:blue;
	width:100%;
	height:300px;
	position:fixed;
	left:200px;
	/* right:0px; */
	top:100px;
}

@media only screen and (max-width: 600px) {
	body{
		text-align:center;
	}
	#menu{
		width:100%;
		top:100px;
		position:fixed;
		height:260px;
		/* background-color:yellow; */
		
	}
	#main_page{
		background-color:blue;
		width:100%;
		position:fixed;
		top:360px;
		left:0px;
	}
}